@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Nunito", sans-serif;
  background-image: url("../assets/bg-img.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.93);
  z-index: -1;
}

/*Christmas Section*/
.category-section {
  width: 100%;
  padding: 30px 0;
}

.category-heading {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
}

.heading-underline {
  width: 250px;
  height: 4px;
  background: #a10404;
  margin: 0 auto 25px;
  border-radius: 5px;
}

.category-grid {
  width: 90%;
  max-width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 1.7fr 1fr 1fr;
  grid-template-rows: 230px 230px;
  gap: 15px;
}

.category-box {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.category-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.big {
  grid-row: span 2;
}
.big2 {
  grid-column: span 2;
}

.explore-btn {
  position: absolute;
  bottom: -60px;
  right: 12px;
  background: #fff;
  border: none;
  padding: 5px 25px;
  border-radius: 4px;
  color: #a10404;
  font-size: 24px;
  font-weight: 400;
  cursor: pointer;
  transition: bottom 0.4s ease-in-out, opacity 0.4s ease-in-out;
  opacity: 0;
}

.category-box:hover .explore-btn {
  bottom: 12px;
  opacity: 1;
}

/*Banner Section*/
.promo-banner {
  width: 100%;
  display: flex;
  justify-content: center;
}

.promo-image-container {
  padding: 0px 30px;
  width: 100%;
}

.promo-inner {
  width: 100%;
  margin: auto;
  background: #efdfdf;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.promo-image {
  width: 70%;
  height: 120px;
}

.promo-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.promo-offer-box {
  width: 310px;
  height: 78px;
  background: #efdfdf;
  display: flex;
  align-items: center;
  padding: 0 18px;
  border-radius: 4px;
  box-sizing: border-box;
}

.promo-offer-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.promo-offer-top {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  color: #444;
  margin: 0;
}

.promo-offer-main {
  font-family: "Inter";
  font-size: 26px;
  font-weight: 700;
  margin: 0;
  color: #000;
}

.promo-offer-sub {
  font-family: "Inter";
  font-size: 10px;
  font-weight: 400;
  color: #666;
  margin: 0;
}

.promo-offer-divider {
  width: 2px;
  height: 80%;
  background: #b7b7b7;
  margin: 0 18px;
}

.promo-offer-right {
  flex: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.promo-code-label {
  font-family: "Inter";
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #444;
  margin: 0 0 4px 0;
}

.promo-code-value {
  font-family: "Inter";
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #000;
  margin: 0;
}

/* Experience Section */
.features-section {
  width: 90%;
  max-width: 100%;
  margin: 60px auto;
  text-align: center;
}

.features-heading {
  font-family: "Nunito Sans";
  font-weight: 600;
  font-style: SemiBold;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

.features-line {
  width: 420px;
  height: 3px;
  background: #b64040;
  margin: 0 auto 40px;
  border-radius: 5px;
}

.features-row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  align-items: start;
}

.feature-box {
  text-align: center;
  max-width: 190px;
  margin: auto;
}

.feature-icon,
.unique-icon {
  width: 80px;
  height: 80px;
  background: #f7eaea;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 15px;
}

.unique-icon img {
  width: 25px;
  height: 25px;
  object-fit: contain;
}

.feature-icon img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.feature-text {
  font-family: "Nunito Sans";
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}
.icon-heading {
  font-family: "Nunito Sans";
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

/*Crafted Section*/

.crafted-section {
  width: 100%;
  padding: 30px 0;
}

.crafted-heading {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
}

.crafted-heading-underline {
  width: 250px;
  height: 4px;
  background: #a10404;
  margin: 0 auto 25px;
  border-radius: 5px;
}

.crafted-grid {
  width: 90%;
  max-width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 1.7fr 1fr 1fr;
  grid-template-rows: 230px 230px;
  gap: 15px;
}

.crafted-box {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.crafted-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.big {
  grid-row: span 2;
}
.big2 {
  grid-column: span 2;
}

.crafted-label {
  position: absolute;
  top: 15px;
  right: 15px;
  background: rgba(255, 255, 255, 0.08);
  -webkit-backdrop-filter: blur(2.5px);
  backdrop-filter: blur(2.5px);
  width: 149px;
  height: 33px;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
}

.crafted-explore-btn {
  position: absolute;
  bottom: -60px;
  right: 12px;
  background: #fff;
  border: none;
  padding: 5px 25px;
  border-radius: 4px;
  color: #a10404;
  font-size: 24px;
  font-weight: 400;
  cursor: pointer;
  transition: bottom 0.4s ease-in-out, opacity 0.4s ease-in-out;
  opacity: 0;
}

.crafted-box:hover .crafted-explore-btn {
  bottom: 12px;
  opacity: 1;
}

/*Collection Section*/
.collection-section {
  width: 100%;
  padding: 30px 0;
}

.collection-heading {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
}

.collection-heading-underline {
  width: 250px;
  height: 4px;
  background: #a10404;
  margin: 0 auto 25px;
  border-radius: 5px;
}

.collection-grid {
  width: 90%;
  max-width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 1.7fr 1fr 1fr;
  grid-template-rows: 230px 230px;
  gap: 15px;
}

.collection-box {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.collection-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.big {
  grid-row: span 2;
}
.big2 {
  grid-column: span 2;
}

.collection-explore-btn {
  position: absolute;
  bottom: -60px;
  right: 12px;
  background: #fff;
  border: none;
  padding: 5px 25px;
  border-radius: 4px;
  color: #a10404;
  font-size: 24px;
  font-weight: 400;
  cursor: pointer;
  transition: bottom 0.4s ease-in-out, opacity 0.4s ease-in-out;
  opacity: 0;
}

.collection-box:hover .collection-explore-btn {
  bottom: 12px;
  opacity: 1;
}
