@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Padauk:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans";
}

/*Christmas Section*/
.category-section {
  width: 100%;
  padding: 20px 0;
  background-color: #9f040405;
}

.category-grid {
  padding: 0px 30px;
  padding-top: 20px;
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 1.7fr 1fr 1fr;
  grid-template-rows: 230px 230px;
  gap: 15px;
}

.category-box {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.category-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.big {
  grid-row: span 2;
}
.big2 {
  grid-column: span 2;
}

.explore-btn {
  position: absolute;
  bottom: -60px;
  right: 12px;
  background: #fff;
  border: none;
  padding: 4px 30px;
  border-radius: 4px;
  color: #a10404;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  transition: bottom 0.4s ease-in-out, opacity 0.4s ease-in-out;
  opacity: 0;
}

.category-box:hover .explore-btn {
  bottom: 12px;
  opacity: 1;
}

/*Banner Section*/
.promo-banner {
  width: 100%;
  display: flex;
  justify-content: center;
}

.promo-image-container {
  padding: 0px 30px;
  width: 100%;
}

.promo-inner {
  width: 100%;
  margin: auto;
  background: #efdfdf;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.promo-image {
  width: 70%;
  height: 120px;
}

.promo-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.promo-offer-box {
  width: 310px;
  height: 78px;
  background: #efdfdf;
  display: flex;
  align-items: center;
  padding: 0 18px;
  border-radius: 4px;
  box-sizing: border-box;
}

.promo-offer-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.promo-offer-top {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  color: #444;
  margin: 0;
}

.promo-offer-main {
  font-family: "Inter";
  font-size: 26px;
  font-weight: 700;
  margin: 0;
  color: #000;
}

.promo-offer-sub {
  font-family: "Inter";
  font-size: 10px;
  font-weight: 400;
  color: #666;
  margin: 0;
}

.promo-offer-divider {
  width: 2px;
  height: 80%;
  background: #b7b7b7;
  margin: 0 18px;
}

.promo-offer-right {
  flex: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.promo-code-label {
  font-family: "Inter";
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #444;
  margin: 0 0 4px 0;
}

.promo-code-value {
  font-family: "Inter";
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #000;
  margin: 0;
}

/* Experience Section */
.features-section {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

.heading-line-experience {
  width: 300px;
  height: 2px;
  background: #b64040;
  border-radius: 5px;
}

.features-row {
  padding: 0px 30px;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-items: center;
}

.feature-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 190px;
  margin: auto;
}

.feature-icon,
.unique-icon {
  width: 60px;
  height: 60px;
  background: #f7eaea;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 15px;
}

.unique-icon img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.feature-icon img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.feature-text {
  margin-top: 10px;
  font-weight: 400;
  font-size: 10px;
  line-height: 100%;
  text-align: center;
  color: #3a3f45;
  width: 70%;
}
.icon-heading {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  text-wrap: nowrap;
}

/*Crafted Section*/

.crafted-section {
  width: 100%;
  padding-top: 30px;
}

.heading-line-exclusive-crafted {
  border: 1px solid #a10404;
  width: 215px;
}

.crafted-grid {
  padding: 0px 30px;
  padding-top: 20px;
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 1.7fr 1fr 1fr;
  grid-template-rows: 230px 230px;
  gap: 15px;
}

.crafted-box {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.crafted-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.big {
  grid-row: span 2;
}
.big2 {
  grid-column: span 2;
}

.crafted-label {
  position: absolute;
  top: 15px;
  right: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.034);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 5px 25px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
}

.crafted-explore-btn {
  position: absolute;
  bottom: -60px;
  right: 12px;
  background: #fff;
  border: none;
  padding: 4px 30px;
  border-radius: 4px;
  color: #a10404;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  transition: bottom 0.4s ease-in-out, opacity 0.4s ease-in-out;
  opacity: 0;
}

.crafted-box:hover .crafted-explore-btn {
  bottom: 12px;
  opacity: 1;
}

/*Collection Section*/
.collection-section {
  width: 100%;
  padding-top: 30px;
}

.collection-grid {
  padding: 0px 30px;
  padding-top: 20px;
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 1.7fr 1fr 1fr;
  grid-template-rows: 230px 230px;
  gap: 15px;
}

.collection-box {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.collection-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.big {
  grid-row: span 2;
}
.big2 {
  grid-column: span 2;
}

.collection-explore-btn {
  position: absolute;
  bottom: -60px;
  right: 12px;
  background: #fff;
  border: none;
  padding: 4px 30px;
  border-radius: 4px;
  color: #a10404;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  transition: bottom 0.4s ease-in-out, opacity 0.4s ease-in-out;
  opacity: 0;
}

.collection-box:hover .collection-explore-btn {
  bottom: 12px;
  opacity: 1;
}
