@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Padauk:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans" ;
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    padding: 0px 30px;
    position: sticky;
    top: 0px;
}
.logo-section{
    height: 55px;
}
.logo-section>img{
    height: 100%;
}
.menu-section{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.menu-section .search-bar{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    background-color: #FCFCFC;
    padding: 5px;
    width: 300px;
}
.menu-section .search-bar>img{
    height: 20px;
}
.menu-section .search-bar>input{
    background-color: transparent;
    border: none;
    outline: none;
}
.round-button{
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 50%;
}
.round-button>img{
    height: 20px;
}
.signup-button{
    background-color: #A10404;
    margin-left: 30px ;
    border-radius: 8px;
}
.signup-button{
    color: white;
    padding: 13px 39px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 700;
}


/* Banner Section */
.carousel-container {
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
}

.carousel-slide {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide img {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    object-fit: cover;
}

/* Dots below the image */
.dots {
    width: 100%;
    text-align: center;
    margin-top: 15px;
}

.dot {
    height: 12px;
    width: 12px;
    background-color: #D9D9D9;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    margin: 0 5px;
}

.dot.active {
    background-color: #A10404;
}

/* Optional responsive */
@media (max-width: 768px) {
  .carousel-container { height: 300px; }
}
@media (max-width: 420px) {
  .carousel-container { height: 200px; }
}


